.ModalCreateCardDataBody.ModalCreateCardDataBody {
  width: 95vw;
  max-height: 90vh; }
  @media (min-width: 769px) {
    .ModalCreateCardDataBody.ModalCreateCardDataBody {
      width: 600px; } }
  .ModalCreateCardDataBody.ModalCreateCardDataBody .container__checkbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
  .ModalCreateCardDataBody.ModalCreateCardDataBody .label__checkbox {
    padding: 0.2em 0;
    white-space: nowrap; }
  .ModalCreateCardDataBody.ModalCreateCardDataBody .container__btns {
    float: right; }
